[submodule "neuron-vis"]
	path = neuron-vis
	url = https://gitee.com/bigduduwxf/neuron-vis.git
[submodule "subcortex_visualization"]
	path = subcortex_visualization
	url = https://github.com/anniegbryant/subcortex_visualization.git
